* { 
    background-color: forestgreen;

}



.about {
    float: right;
    width: 300px;
    text-align: center;
    border-style: solid;
    
}

header {
    border-style: solid;
}

.recipe {
    border-style: solid;
    text-align: left;
}

